/*BUTTON*/

/*VARIABLES*/
:root   {
    --primary: #007BFF;
    --success: #28A745;
    --danger: #DC3545;
    --warning: #FFC107;
    --secondary: #6C757D;
    --info: #17A2B8;
    --light: #F8F9FA;
    --dark: #343A40;
}

/*CONTAINED BUTTONS*/
.igc-btn-contained-primary  {
    cursor: pointer;
    color: white !important;
    background-color: var(--primary) !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-contained-success  {   color: white !important;
    cursor: pointer;
    background-color: var(--success) !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-contained-danger   {
    color: white !important;
    background-color: var(--danger) !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-contained-warning  {
    color: black !important;
    background-color: var(--warning) !important;
    border: transparent !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

/*HOVER*/

.igc-btn-contained-primary:hover    {
    background-color: var(--primary) !important;
    opacity: 75% !important;
    transition: all 0.3s ease-out;
}

.igc-btn-contained-success:hover    {
    background-color: var(--success) !important;
    opacity: 75% !important;
    transition: all 0.3s ease-out;
}

.igc-btn-contained-danger:hover {
    background-color: var(--danger) !important;
    opacity: 75% !important;
    transition: all 0.3s ease-out;
}

.igc-btn-contained-warning:hover    {
    background-color: var(--warning) !important;
    opacity: 75% !important;
    transition: all 0.3s ease-out;
}

/*ACTIVE*/

.igc-btn-contained-primary:active   {
    background-color: var(--primary) !important;
    opacity: 50% !important;
}

.igc-btn-contained-success:active   {
    background-color: var(--success) !important;
    opacity: 50% !important;
}

.igc-btn-contained-danger:active    {
    background-color: var(--danger) !important;
    opacity: 50% !important;
}

.igc-btn-contained-warning:active   {
    background-color: var(--warning) !important;
    opacity: 50% !important;
}

/*FOCUS*/

.igc-btn-contained-primary:focus    {
    background-color: var(--primary) !important;
    opacity: 50% !important;
}

.igc-btn-contained-success:focus    {
    background-color: var(--success) !important;
    opacity: 50% !important;
}

.igc-btn-contained-danger:focus {
    background-color: var(--danger) !important;
    opacity: 50% !important;
}

.igc-btn-contained-warning:focus    {
    background-color: var(--warning) !important;
    opacity: 50% !important;
}

/*OUTLINE BUTTONS*/

.igc-btn-outlined-primary {
    cursor: pointer!important;
    color: #007BFF !important;
    background-color: white !important;
    border: 1px solid #007BFF !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-outlined-success {
    cursor: pointer!important;
    color: #28A745 !important;
    background-color: white !important;
    border: 1px solid #28A745 !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-outlined-danger {
    cursor: pointer!important;
    color: #DC3545 !important;
    background-color: white !important;
    border: 1px solid #DC3545 !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-outlined-warning {
    cursor: pointer!important;
    color: #FFC107 !important;
    background-color: white !important;
    border: 1px solid #FFC107 !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

/*HOVER*/

.igc-btn-outlined-primary:hover {
    background-color: rgba(0, 0, 255, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-outlined-success:hover {
    background-color: rgba(0, 255, 0, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-outlined-danger:hover {
    background-color: rgba(255, 0, 0, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-outlined-warning:hover {
    background-color: rgba(255, 255, 0, .10) !important;
    transition: all 0.3s ease-out;
}

/*ACTIVE*/

.igc-btn-outlined-primary:active {
    background-color: rgba(0, 0, 255, .20) !important;
}

.igc-btn-outlined-success:active {
    background-color: rgba(0, 255, 0, .20) !important;
}

.igc-btn-outlined-danger:active {
    background-color: rgba(255, 0, 0, .20) !important;
}

.igc-btn-outlined-warning:active {
    background-color: rgba(255, 255, 0, .20) !important;
}

/*FOCUS*/

.igc-btn-outlined-primary:focus {
    background-color: rgba(0, 0, 255, .20) !important;
}

.igc-btn-outlined-success:focus {
    background-color: rgba(0, 255, 0, .20) !important;
}

.igc-btn-outlined-danger:focus {
    background-color: rgba(255, 0, 0, .20) !important;
}

.igc-btn-outlined-warning:focus {
    background-color: rgba(255, 255, 0, .20) !important;
}

/*TEXT*/

.igc-btn-text-primary {
    cursor: pointer;
    color: var(--primary) !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}

.igc-btn-text-success {
    cursor: pointer;
    color: var(--success) !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}

.igc-btn-text-danger {
    cursor: pointer;
    color: var(--danger) !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}

.igc-btn-text-warning {
    cursor: pointer;
    color: var(--warning) !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}

/*HOVER*/

.igc-btn-text-primary:hover {
    background-color: rgba(0, 0, 255, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-text-success:hover {
    background-color: rgba(0, 255, 0, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-text-danger:hover {
    background-color: rgba(255, 0, 0, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-text-warning:hover {
    background-color: rgba(255, 255, 0, .10) !important;
    transition: all 0.3s ease-out;
}

/*ACTIVE*/

.igc-btn-text-primary:active {
    background-color: rgba(0, 0, 255, .20) !important;
}

.igc-btn-text-success:active {
    background-color: rgba(0, 255, 0, .20) !important;
}

.igc-btn-text-danger:active {
    background-color: rgba(255, 0, 0, .20) !important;
}

.igc-btn-text-warning:active {
    background-color: rgba(255, 255, 0, .20) !important;
}

/*FOCUS*/

.igc-btn-text-primary:focus {
    background-color: rgba(0, 0, 255, .20) !important;
}

.igc-btn-text-success:focus {
    background-color: rgba(0, 255, 0, .20) !important;
}

.igc-btn-text-danger:focus {
    background-color: rgba(255, 0, 0, .20) !important;
}

.igc-btn-text-warning:focus {
    background-color: rgba(255, 255, 0, .20) !important;
}

/*CARD*/

.igc-btn-card-primary {
    cursor: pointer !important;
    color: var(--primary) !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    height: 24px !important;
    padding: 3px 3px 3px 3px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}

.igc-btn-card-success {
    cursor: pointer !important;
    color: var(--success) !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    height: 24px !important;
    padding: 3px 3px 3px 3px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}

.igc-btn-card-danger {
    cursor: pointer !important;
    color: var(--danger) !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    height: 24px !important;
    padding: 3px 3px 3px 3px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}


/*HOVER*/

.igc-btn-card-primary:hover {
    background-color: rgba(0, 0, 255, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-card-success:hover {
    background-color: rgba(0, 255, 0, .10) !important;
    transition: all 0.3s ease-out;
}

.igc-btn-card-danger:hover {
    background-color: rgba(255, 0, 0, .10) !important;
    transition: all 0.3s ease-out;
}

/*ACTIVE*/

.igc-btn-card-primary:active {
    background-color: rgba(0, 0, 255, .20) !important;
}

.igc-btn-card-success:active {
    background-color: rgba(0, 255, 0, .20) !important;
}

.igc-btn-card-danger:active {
    background-color: rgba(255, 0, 0, .20) !important;
}

/*FOCUS*/

.igc-btn-card-primary:focus {
    background-color: rgba(0, 0, 255, .20) !important;
}

.igc-btn-card-success:focus {
    background-color: rgba(0, 255, 0, .20) !important;
}

.igc-btn-card-danger:focus {
    background-color: rgba(255, 0, 0, .20) !important;
}


/*AUDIENCE*/

.igc-btn-create {
    cursor: pointer;
    color: white !important;
    background-color: var(--primary) !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-create:hover   {
    background-color: var(--primary) !important;
    opacity: 75% !important;
    transition: all 0.3s ease-out;
}

.igc-btn-create:active   {
    background-color: var(--primary) !important;
    opacity: 50% !important;
}

.igc-btn-schedule {
    color: white !important;
    cursor: pointer;
    background-color: var(--success) !important;
    border: none !important;
    border-radius: 4px !important;
    height: 36px !important;
    padding: 9px 16px 9px 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 20%) !important;
}

.igc-btn-schedule:hover   {
    background-color: var(--success) !important;
    opacity: 75% !important;
    transition: all 0.3s ease-out;
}

.igc-btn-schedule:active   {
    background-color: var(--success) !important;
    opacity: 50% !important;
}