/*CHECKBOX*/

/*VARIABLES*/
:root   {
    --primary: #007BFF;
    --success: #28A745;
    --danger: #DC3545;
    --warning: #FFC107;
    --secondary: #6C757D;
    --info: #17A2B8;
    --light: #F8F9FA;
    --dark: #343A40;
}

.igc-checkbox {
    z-index: 0;
    position: relative;
}

/* Input */
.igc-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -8px;
    top: -3px;
    display: block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.igc-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.igc-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    border: solid 2px gray; /* Safari */
    border-radius: 2px;
    margin: 0px 10px -2px 0px;
    width: 15px;
    height: 15px;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.igc-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.igc-checkbox > input:checked,
.igc-checkbox > input:indeterminate {
    background-color: var(--primary)!important;;
}

.igc-checkbox > input:checked + span::before,
.igc-checkbox > input:indeterminate + span::before {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
}

/*Check*/
.igc-checkbox > input:checked + span::after,
.igc-checkbox > input:indeterminate + span::after {
    border-color: white;
}

.igc-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.igc-checkbox:hover > input {
    background-color: var(--primary)!important;
    opacity: 0.16;
}

.igc-checkbox:hover > input:focus {
    background-color: var(--primary)!important;
    opacity: 0.16;
}


/* Active */
.igc-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.igc-checkbox > input:active + span::before {
    border-color: var(--primary) !important;
}

.igc-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: var(--primary) !important;
}

/* Disabled */
.igc-checkbox > input:disabled {
    opacity: 0;
}

.igc-checkbox > input:disabled + span {
    color: #000;
    cursor: initial;
}

.igc-checkbox > input:disabled + span::before {
    border-color: gray;
}

.igc-checkbox > input:checked:disabled + span::before,
.igc-checkbox > input:indeterminate:disabled + span::before {
    border-color: gray!important;
    background-color: gray!important;
}
