/*TAB*/

/*VARIABLES*/
:root   {
    --primary: #007BFF;
    --success: #28A745;
    --danger: #DC3545;
    --warning: #FFC107;
    --secondary: #6C757D;
    --info: #17A2B8;
    --light: #F8F9FA;
    --dark: #343A40;
}

.igc-tab {
    position: relative !important;;
    text-align: center !important;;
    color: black !important;
    border: none!important;
    background-color: white !important;
    height: 36px !important;
    padding: 0 16px 0 16px !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: .0892857143em !important;
}

.igc-tab:before {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    transition: all 0.3s ease-out;
}

.igc-tab:hover {
    background-color: rgba(0, 0, 0, .10) !important;
    transition: all 0.3s ease-out;

}

.igc-tab:active {
    background: var(--primary);
    background-color: rgba(0, 0, 255, .10) !important;
    transition: all 0.3s ease-out;
}


.igc-tab:focus {
    color: #007BFF !important;
    background-color: rgba(0, 0, 255, .10) !important;
    transition: all 0.3s ease-out;
    outline: none;
}


.igc-tab:focus:before {
    background: var(--primary);
    width: 100%;
    left: 0;
    transition: all 0.3s ease-out;
}