.modal.modal-fullscreen .modal-dialog {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            max-width: none;
        }

        .modal.modal-fullscreen .modal-content {
            height: 100vh;
            border-radius: 0;
            border: none;
        }

        .modal.modal-fullscreen {
            overflow-y: auto;
        }


        ::-webkit-scrollbar
        {
            width: 5px;
        }

        ::-webkit-scrollbar-thumb
        {
            border-radius: 5px;
            background-color: #135A30;
        }

        ::-webkit-scrollbar-thumb:hover
        {
            background-color:#28A745;
        }
