.IGC-RADIO-INPUT {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 2px;
  background-clip: content-box;
  border: 2px solid grey;
  border-radius: 50%;
}

.IGC-RADIO-INPUT:checked {
  background-color: #135A30;
  border: 2px solid #135A30;
  padding: 2px;
}

.IGC-RADIO-INPUT:hover{
  box-shadow: 0 0 0px 3px #e0e0e0;
}