@font-face {
    font-family: 'Product Sans' !important ;
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'), url('../../../PreRequisites/Font/ProductSans-Regular.woff') format('woff');

}
html{

    font-family: 'Product Sans';
}
body {



    background-color: #fff;

    margin-right:0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Product Sans';
    color: #607d8b;


}
.selected{
    pointer-events: none;
    background-color:#3166e1;
    color:white;
}
.selected *{
    color:white;
}
img {
    filter: invert(100%);
    padding-right: 10px;
    padding-left: 15px;
}
h1 {
    color: #607d8b;
    font-family: 'Product Sans';
}
a {
    border-radius:8px;
    display: flex;
    align-items:center;
    text-decoration: none;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:18px;
    color:#c8c8c8;

}
a svg {
    margin-left:10px;
    margin-right:10px;
}
a * {
    color:#c8c8c8;
}
a:hover *{
    text-decoration: none;
    color:#344468;
}
a:hover{
    text-decoration: none;
    color:#344468;
}
.banner {
    width: auto;
    height: auto;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-size: 25px;
    text-align: left;
    color:#607d8b;
    margin-top: 0%;
    font-weight: bold;
    font-family: calibri;
    text-transform: uppercase;
}
.holder {
    background: #212121;
    width:100%;
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 10px;
    padding-bottom:10px;
    text-align:left;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;


}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8c8c8c;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #141414;
}
.avatar {
    border-radius: 30px;
}